.App {
    font-size: x-small;
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.scroll-stick::-webkit-scrollbar {
    display: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.default-button {
    font-size: 10px;
}

.App-header {
    width: 100%;
    background-color: #262b57;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    color: rgb(0, 204, 255);
}
.names {
    font-size: small;
}

.App-link {
    color: #eeb90a;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.schedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.control {
    display: flex;
    flex-wrap: wrap;
}

.semester-view {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

.contains-semester {
    display: flex;
    flex-wrap: wrap;
}

.description-btn {
    height: 10px;
    width: 10px;
    font-size: x-small;
    padding: none;
    border-radius: 20px;
    background-color: white;
    color: black;
    line-height: 5px;
}

.edit-sem-btn {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 1px solid rgb(127, 163, 228);
    padding: 8px 7px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 10px;
    font-weight: bold;
    float: left;
    width: 60px;
}
.edit-sem-btn:hover {
    font-size: 10px;
    background-color: rgb(189, 196, 207);
}
.delete-sem-btn {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 1px solid red;
    padding: 8px 7px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 10px;
    font-weight: bold;
    float: left;
    width: 60px;
}
.delete-sem-btn:hover {
    font-size: 10px;
    background-color: red;
}

.sem-controls {
    border: 1px "solid" gray;
    background-color: #406abc;
}
.delete-allcourse-btn {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 1px solid red;
    padding: 8px 7px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 10px;
    float: right;
    font-weight: bold;
    width: 70px;
}
.delete-allcourse-btn:hover {
    background-color: red;
}
.insert-course-btn {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 1px solid green;
    padding: 8px 7px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 10px;
    font-weight: bold;
    float: right;
    width: 60px;
}
.insert-course-btn:hover {
    font-size: 10px;
    background-color: green;
}
.reset-course-btn {
    font-size: 10px;
    background-color: rgb(127, 163, 228);
    text-align: center;
    width: auto;
    margin-left: 12px;
}
.edit-course-btn {
    float: left;
    font-size: 10px;
}
.insert-plan {
    font-size: 10px;
    background-color: white;
    border: 1px solid green;
    color: black;
    font-weight: bold;
    padding: 1px;
}
.download-plan {
    font-size: 10px;
    background-color: white;
    border: 1px solid blue;
    color: black;
    font-weight: bold;
    padding: 1px;
}

.uploadPlanBtn {
    width: 100px;
    float: left;
    font-size: small;
}

.uploadBackground {
    font-size: medium;
    font-weight: bold;
}

.save-btn {
    width: 200px;
    float: left;
    font-size: small;
}

.x-btn {
    padding: 5px;
    width: 23px;
    height: auto;
    background-color: rgb(195, 49, 49);
    border-color: rgb(195, 49, 49);
    float: right;
}

.x-btn:hover {
    background-color: rgb(190, 95, 95);
    border-color: rgb(195, 49, 49);
}

.display-requirement {
    max-width: 220px;
    width: 200px;
}

.credits-form {
    line-height: 0px;
}

.credits-dropdown {
    padding: 1px;
    line-height: 0px;
}

.add-req-btn {
    width: auto;
    font-size: x-small;
    padding: none;
    float: left;
}

@media screen and (min-width: 576px) {
    .contains-semester {
        min-width: 500px;
    }
}

h3 {
    font-weight: bold;
    font-size: medium;
}

h1 {
    font-weight: bold;
    font-size: x-large;
}

h2 {
    font-weight: bold;
    font-size: large;
}

h4 {
    font-size: x-small;
}

.background1 {
    background-color: #f8f9fa;
}

.default-form {
    font-size: x-small;
}
