.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #406abc;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(12px + 2vmin);
    color: white;
}
.names {
    font-size: calc(2px + 2vmin);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.schedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.control {
    display: flex;
    flex-wrap: wrap;
}

.row-equal {
    display: flex;
    flex-wrap: wrap;
}

.semester-view {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

.contains-semester {
    display: flex;
    flex-wrap: wrap;
}

.edit-sem-btn {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 1px solid rgb(127, 163, 228);
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    font-weight: bold;
}
.edit-sem-btn:hover {
    background-color: rgb(31, 96, 216);
}
.delete-sem-btn {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 1px solid red;
    padding: 10px 7px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    font-weight: bold;
}
.delete-sem-btn:hover {
    background-color: red;
}
.delete-allcourse-btn {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 1px solid red;
    padding: 10px 7px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    font-weight: bold;
}
.delete-allcourse-btn:hover {
    background-color: red;
}
.insert-course-btn {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 1px solid green;
    padding: 10px 7px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    font-weight: bold;
}
.insert-course-btn:hover {
    background-color: green;
}
.reset-course-btn {
    background-color: rgb(127, 163, 228);
    text-align: center;
}
.insert-plan {
    font-size: 12px;
    background-color: white;
    border: 1px solid green;
    color: black;
}
